/*
 * ---:[ Thesis CSS reset ]:---
 */
* {
  margin: 0;
  padding: 0;
  word-wrap: break-word; }

html {
  -webkit-text-size-adjust: 100%; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img,
abbr,
acronym,
fieldset {
  border: 0; }

code {
  line-height: 1em; }

pre {
  overflow: auto;
  clear: both;
  word-wrap: normal;
  -moz-tab-size: 4;
  tab-size: 4; }

sub,
sup {
  line-height: 0.5em; }

img,
.wp-caption {
  max-width: 100%;
  height: auto; }

iframe,
video,
embed,
object {
  display: block;
  max-width: 100%; }

img {
  display: block; }

.left,
.alignleft,
img[align="left"] {
  display: block;
  float: left; }

.right,
.alignright,
img[align="right"] {
  display: block;
  float: right; }

.center,
.aligncenter,
img[align="middle"] {
  display: block;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  float: none;
  clear: both; }

.block,
.alignnone {
  display: block;
  clear: both; }

input[type="submit"],
button {
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none; }

.wp-smiley {
  display: inline; }

/*
 * ---:[ icon font ]:---
 */
@font-face {
  font-family: icons;
  src: url('fonts/icons.eot');
  src: url('fonts/icons.eot?#iefix') format('embedded-opentype'), url('fonts/icons.ttf') format('truetype'), url('fonts/icons.woff') format('woff'), url('fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal; }
/*
 * ---:[ global styles ]:---
 */
html {
  -webkit-text-size-adjust: 100%; }

body {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 28px;
  color: #111111;
  background-color: white; }

a {
  color: #981b1f;
  text-decoration: none; }

p a {
  text-decoration: underline; }

code,
pre {
  font-family: Consolas, Monaco, Menlo, Courier, Verdana, sans-serif; }

.right,
.alignright,
img[align="right"],
.left,
.alignleft,
img[align="left"] {
  float: none; }

.frame,
.post_image_box,
.wp-caption {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/*
 * ---:[ layout structure ]:---
 */
.container,
.columns > .content,
.columns > .sidebar {
  margin: 0 auto; }

.columns {
  background-color: white;
  padding-top: 42px;
  padding-right: 28px;
  padding-left: 28px; }

.columns > .sidebar {
  border-top: 1px solid #d6d6d6;
  padding-top: 56px; }

/*
 * ---:[ header ]:---
 */
#header {
  position: relative;
  padding: 14px 28px; }

#site_title {
  font-size: 45px;
  line-height: 1.2em;
  font-weight: bold;
  color: white; }

#site_title img {
  float: left; }

#site_title a {
  color: white; }

#site_tagline {
  clear: both;
  color: #fae1e1; }

/*
 * ---:[ nav menu ]:---
 */
.nav,
.menu_control {
  font-family: "PT Sans", sans-serif;
  font-size: 17px;
  line-height: 24px; }

.nav {
  display: none;
  position: relative;
  width: 232px;
  height: 0;
  top: 7px;
  list-style: none;
  z-index: 2; }

.nav:before,
.nav > li > .sub-menu:before {
  position: absolute;
  top: -7px;
  left: 28px;
  content: '';
  border: 7px solid transparent;
  border-top-width: 0;
  border-bottom-color: #711417; }

.nav > li > .sub-menu:before {
  display: none; }

.nav .sub-menu {
  list-style: none;
  padding-left: 14px; }

.nav a,
.show_menu {
  display: block; }

.nav a,
.menu_control {
  color: #fae1e1;
  padding: 7px 14px; }

.nav a:hover,
.menu_control:hover {
  color: white;
  background-color: #981b1f; }

.nav .current-menu-item > a {
  color: #fae1e1;
  background-color: #981b1f;
  cursor: text; }

.nav li {
  background-color: #711417; }

.menu_control {
  display: block;
  color: #fae1e1;
  cursor: pointer;
  margin: 7px -28px 0 -28px;
  padding-right: 28px;
  padding-left: 28px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/*
 * ---:[ core input styles ]:---
 */
input[type="text"],
input[type="email"],
.input_text {
  font-size: inherit;
  line-height: 1em;
  font-family: inherit;
  font-weight: inherit;
  color: #111111;
  border: 1px solid #d6d6d6;
  background-color: white;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.08);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

textarea.input_text {
  display: block; }

input[type="submit"],
.input_submit {
  display: inline-block;
  position: relative;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  background-color: #cc242a;
  border: 3px solid rgba(0, 0, 0, 0.25);
  border-width: 0 0 3px 0;
  cursor: pointer;
  overflow: visible;
  -webkit-appearance: none; }

input[type="submit"]:active,
.input_submit:active {
  margin-top: 2px;
  border-bottom-width: 1px; }

.grt input[type="text"],
.grt .input_text {
  width: 100%;
  padding: 7px; }

.grt textarea.input_text {
  line-height: 28px; }

.grt input[type="submit"],
.grt .input_submit {
  padding: 7px 14px;
  border-radius: 7px; }

/*
 * ---:[ pearsonified featured image ]:---
 */
#pfied_featured_item {
  position: relative;
  background-color: black; }

#pfied_featured_item img {
  width: 100%;
  height: auto; }

#pfied_featured_item .wp-caption-text {
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 14px 28px; }

/*
 * ---:[ GRT base styles with spaced paragraphs ]:---
 */
.grt,
.grt h3 {
  font-size: 17px;
  line-height: 28px; }

.grt .headline {
  font-size: 28px;
  line-height: 42px; }

.grt h2,
.grt .widget_title,
.grt .email_form_title {
  font-size: 22px;
  line-height: 34px;
  margin-top: 42px;
  margin-bottom: 14px; }

.grt h4,
.grt .small,
.grt .caption,
.grt .wp-caption p {
  font-size: 13px;
  line-height: 22px; }

.grt h4 {
  line-height: 28px; }

.grt p,
.grt ul,
.grt ol,
.grt blockquote,
.grt pre,
.grt dl,
.grt dd,
.grt .block,
.grt .center,
.grt .aligncenter,
.grt .alignnone,
.grt .left,
.grt .alignleft,
.grt .right,
.grt .alignright,
.grt .alert,
.grt .note,
.grt .post_image,
.grt .post_image_box,
.grt .caption,
.grt .wp-post-image,
.grt .wp-caption,
.headline_area {
  margin-bottom: 28px; }

.grt .wp-caption img,
.grt .post_image_box .post_image,
.grt .thumb {
  margin-bottom: 14px; }

.grt ul ul,
.grt ul ol,
.grt ol ul,
.grt ol ol,
.wp-caption p,
.grt .alert > :last-child,
.grt .note > :last-child,
.grt blockquote.right p,
.grt blockquote.left p,
.grt .box > :last-child {
  margin-bottom: 0; }

/*
 * ---:[ contextual/discretionary content column styles ]:---
 */

.grt h3 {
  font-weight: bold; }

.grt h4 {
  text-transform: uppercase; }

.grt ul {
  list-style-type: square; }

.grt ul,
.grt ol {
  margin-left: 28px; }

.grt sub,
.grt sup {
  color: #888888; }

.grt blockquote {
  color: #888888;
  padding-left: 28px; }

.grt blockquote.right,
.grt blockquote.left {
  font-size: 28px;
  line-height: 39px;
  padding-left: 0; }

.grt pre,
.grt code {
  font-size: 16px; }

.grt pre,
.grt .note,
.grt .alert {
  padding: 28px; }

.grt pre {
  background-color: #ededed; }

.grt .note,
.grt .alert {
  background-color: #ededed;
  margin-right: -28px;
  margin-left: -28px;
  border-left: 7px solid #d6d6d6;
  padding-left: 21px; }

.grt .alert {
  background-color: #f8eab0;
  border-color: #f3db78; }

.grt .frame,
.grt .post_image_box,
.grt .wp-caption {
  background-color: #ededed;
  border: 1px solid #d6d6d6;
  padding: 14px; }

.wp-caption.aligncenter img {
  margin-right: auto;
  margin-left: auto; }

.wp-caption .wp-caption-text .wp-smiley {
  display: inline;
  margin-bottom: 0; }

.grt .caption {
  color: #888888;
  margin-top: -14px; }

.grt .drop_cap {
  font-size: 56px;
  line-height: 1em;
  color: #888888;
  margin-right: 0.15em;
  float: left; }

.grt .footnotes {
  font-size: 13px;
  line-height: 22px;
  color: #888888; }

.grt .footnotes p {
  margin-bottom: 14px; }

.grt .box,
.grt .thesis_email_form {
  background-color: #fae1e1;
  margin: 28px -28px;
  border-left: 7px solid #f3babc;
  padding: 28px 28px 28px 21px; }

.box input[type="text"],
.box .input_text,
.grt .thesis_email_form input[type="text"],
.grt .thesis_email_form .input_text {
  border-color: #f3babc; }

.box input[type="submit"],
.box .input_submit,
.grt .thesis_email_form input[type="submit"],
.grt .thesis_email_form .input_submit {
  background-color: #cc242a; }

.grt .widget {
  margin-top: 56px;
  margin-bottom: 56px; }

.grt .widget_title {
  margin-top: 0; }

.grt .widget_recent_entries a:hover,
.grt .thesis-killer-recent-entries a:hover {
  text-decoration: underline; }

/*
 * ---:[ post box styles ]:---
 */
.post_box {
  position: relative;
  margin-bottom: 56px; }

.headline_area {
  font-size: 13px;
  line-height: 28px;
  color: #888888; }

.headline,
.headline a {
  color: #111111;
  text-decoration: none; }

.headline a:hover {
  color: #981b1f;
  text-decoration: none; }

.headline_area .avatar {
  display: none; }

.headline_area .post_date,
.headline_area .twitter_profile {
  margin-left: 7px; }

.headline + .post_date,
.headline + .twitter_profile,
.headline + meta + meta + .post_date,
.headline + meta + .num_comments_link,
.headline_area .post_author ~ .twitter_profile ~ .post_date {
  margin-left: 0; }

.headline_area .post_author ~ .twitter_profile:after,
.archive .headline_area .post_author ~ .post_date:after {
  content: '\a';
  height: 0;
  white-space: pre; }

.post_author a:hover,
.post_edit:hover,
.post_content a,
.post_cats a:hover,
.post_tags a:hover,
.twitter_profile a:hover {
  text-decoration: underline; }

.post_edit {
  position: absolute;
  width: 42px;
  font-size: 13px;
  line-height: 28px;
  color: #981b1f;
  background-color: #fae1e1;
  text-align: center; }

.post_edit:hover {
  text-decoration: none;
  color: white;
  background-color: #981b1f; }

.headline_area .post_edit {
  top: 0;
  right: -28px; }

.post_box .author_description,
.post_box .footnotes {
  margin: 28px 0;
  border-top: 1px dotted #d6d6d6;
  padding-top: 28px; }

.post_box .author_description_intro {
  font-weight: bold; }

.post_box .author_description .avatar {
  float: right;
  width: 84px;
  height: 84px;
  margin: 0 0 14px 14px; }

.post_box .post_cats,
.post_box .post_tags {
  color: #888888; }

.num_comments_link {
  display: inline-block;
  font-size: 13px;
  color: #888888; }

.num_comments {
  font-size: 28px;
  line-height: 0.5em;
  color: #111111; }

.num_comments_link:hover .num_comments {
  color: #981b1f; }

.post_box .num_comments_link {
  margin-top: 28px; }

/*
 * ---:[ icons ]:---
 */
.post_author:before,
.post_date:before,
.twitter_profile:before,
.post_cats:before,
.post_tags:before {
  font-family: icons;
  color: #aeaeae; }

.post_author:before {
  content: '\e60e\2000'; }

.post_date:before {
  content: '\e612\2000'; }

.twitter_profile:before {
  content: '\e602\2000'; }

.post_cats:before {
  content: '\e616\2009'; }

.post_tags:before {
  content: '\e613\2009'; }

/*
 * ---:[ template-specific content elements ]:---
 */
.archive_intro {
  margin-bottom: 42px;
  border-bottom: 1px dotted #d6d6d6;
  padding-bottom: 28px; }

.archive_content {
  margin-top: 28px; }

.archive {
  margin-bottom: 56px; }

.archive .headline_area {
  margin-bottom: 0; }

.archive .num_comments_link {
  margin-top: 0; }

.archive .num_comments {
  font-size: 13px;
  line-height: 28px;
  color: #888888; }

.archive .num_comments_link:before {
  font-family: icons;
  content: '\e619\2000';
  color: #aeaeae; }

/*
 * ---:[ comments ]:---
 */
#comments {
  margin: 56px 0; }

.comments_intro,
.comments_closed {
  color: #888888; }

.comments_intro {
  padding-bottom: 14px;
  border-bottom: 1px dotted #d6d6d6; }

.grt .comments_intro,
.grt .comments_closed {
  margin-bottom: 42px; }

.grt .comment_list {
  list-style-type: none;
  margin: 0 0 56px 0; }

.comment {
  position: relative;
  margin-bottom: 56px; }

.comment .children {
  list-style-type: none; }

.children .comment {
  margin-top: 56px; }

.comment_head {
  position: relative;
  margin-bottom: 14px; }

.comment_author {
  font-weight: bold; }

.comment_author a {
  color: #111111; }

.comment_author a:hover {
  color: #981b1f; }

.comment_permalink,
.comment-reply-link {
  display: inline-block;
  font-family: icons;
  font-size: 13px;
  padding: 0 7px;
  border-radius: 7px; }

.comment_permalink:hover,
.comment-reply-link:hover {
  background-color: #ededed; }

.comment_date {
  display: none;
  font-size: 13px;
  margin-left: 7px;
  color: #888888; }

.comment_date a {
  color: #888888; }

.comment span.avatar {
  display: none;
  width: 42px;
  height: 42px; }

.comment_edit {
  position: absolute;
  top: 0;
  right: -28px;
  width: 42px;
  font-size: 13px;
  line-height: 28px;
  text-align: center;
  color: #981b1f;
  background-color: #fae1e1; }

.comment_edit:hover {
  color: white;
  background-color: #981b1f; }

.comments_closed:before {
  font-family: icons;
  content: '\e618\0020'; }

/*
 * ---:[ comment form ]:---
 */
#commentform {
  color: #111111;
  background-color: #ededed;
  margin-right: -28px;
  margin-left: -28px;
  border-left: 7px solid #d6d6d6;
  padding: 14px 28px 14px 21px; }

.comment #commentform {
  margin-top: 28px; }

.comment_form_title {
  font-size: 22px;
  line-height: 34px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 14px; }

#commentform p {
  margin-bottom: 14px; }

#commentform label {
  display: block; }

#commentform .input_submit {
  font-size: 22px; }

#commentform .required {
  color: #dd0000; }

#commentform #comment_form_submit {
  margin-bottom: 0; }

.comment_moderated {
  font-weight: bold; }

#cancel-comment-reply-link {
  position: relative;
  float: right;
  font-size: 13px;
  line-height: 21px;
  background-color: white;
  border: 1px solid #d6d6d6;
  border-width: 1px 1px 3px 1px;
  padding: 7px 14px;
  border-radius: 7px; }

#cancel-comment-reply-link:active {
  margin-top: 2px;
  border-bottom-width: 1px; }

#cancel-comment-reply-link:before {
  font-family: icons;
  content: '\e610\2000';
  vertical-align: top; }

.login_alert {
  font-weight: bold;
  border: 1px solid #d6d6d6;
  background-color: #ededed; }

/*
 * ---:[ prev/next links + comment intro/nav ]:---
 */
.prev_next,
.comment_nav {
  clear: both;
  color: #111111;
  margin-top: 28px;
  border: 1px dotted #d6d6d6;
  border-width: 1px 0 0 0; }

.comment_nav {
  margin-bottom: 42px;
  border-bottom-width: 1px; }

.prev_next .next_post,
.prev_next .next_posts,
.next_comments {
  text-align: right;
  border-bottom: 1px dotted #d6d6d6; }

.next_comments {
  border-top: 1px dotted #d6d6d6;
  border-bottom: 0; }

.prev_next .previous_posts,
.prev_next .next_posts,
.previous_comments,
.next_comments {
  display: block; }

.prev_next a,
.comment_nav a {
  display: block;
  text-decoration: none;
  padding: 14px; }

.prev_next .previous_post a {
  padding-left: 42px; }

.prev_next .next_post a {
  position: relative;
  padding-right: 42px; }

.prev_next a:hover,
.comment_nav a:hover {
  color: white;
  background-color: #981b1f; }

.prev_next a:before,
.prev_next a:after,
.previous_comments a:before,
.next_comments a:after {
  font-family: icons;
  vertical-align: top; }

.previous_posts a:before,
.previous_post a:before,
.previous_comments a:before {
  content: '\e60f\2000'; }

.next_posts a:after,
.next_post a:after,
.next_comments a:after {
  content: '\2000\e60c'; }

.previous_post a:before,
.next_post a:after {
  display: inline-block;
  min-width: 28px; }

.previous_post a:before {
  margin-left: -42px;
  padding-left: 14px;
  text-align: left; }

.next_post a:after {
  position: absolute;
  top: 14px;
  text-align: right; }

/*
 * ---:[ sidebar ]:---
 */
.sidebar {
  font-size: 13px;
  line-height: 20px; }

.sidebar .widget,
.sidebar .text_box,
.sidebar .query_box,
.sidebar .box {
  margin-bottom: 40px; }

.sidebar p,
.sidebar ul,
.sidebar ol,
.sidebar blockquote,
.sidebar pre,
.sidebar dl,
.sidebar dd,
.sidebar .left,
.sidebar .alignleft,
.sidebar .right,
.sidebar .alignright,
.sidebar .center,
.sidebar .aligncenter,
.sidebar .block,
.sidebar .alignnone {
  margin-bottom: 20px; }

.sidebar .left,
.sidebar .alignleft {
  margin-right: 20px; }

.sidebar ul ul,
.sidebar ul ol,
.sidebar ol ul,
.sidebar ol ol,
.sidebar .right,
.sidebar .alignright,
.sidebar .stack {
  margin-left: 20px; }

.sidebar .post_content,
.sidebar .post_excerpt {
  margin-top: 20px; }

.sidebar ul ul,
.sidebar ul ol,
.sidebar ol ul,
.sidebar ol ol,
.sidebar .post_excerpt p {
  margin-bottom: 0; }

.sidebar .widget_title,
.sidebar .email_form_title,
.sidebar .headline {
  font-size: 17px;
  line-height: 25px; }

.sidebar .widget_title {
  position: relative;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.2);
  background-color: #981b1f;
  margin-bottom: 10px;
  border-right: 10px solid #e67276;
  padding: 5px 20px; }

.sidebar .widget_title:before {
  position: absolute;
  top: -10px;
  left: 0;
  content: '';
  border: 10px solid transparent;
  border-right-width: 0;
  border-left-color: white; }

.sidebar .widget_recent_entries .widget_title,
.sidebar .widget_archive .widget_title,
.sidebar .thesis-killer-recent-entries .widget_title {
  margin-bottom: 5px; }

.sidebar .widget_categories > ul {
  margin-top: -5px; }

.sidebar .query_box .post_author,
.sidebar .query_box .post_date {
  color: #888888; }

.sidebar .widget ul {
  list-style-type: none; }

.sidebar .widget_recent_comments > ul > li {
  margin-bottom: 14px; }

.sidebar .widget_text ul {
  list-style-type: square;
  margin-left: 20px; }

.sidebar .widget li a {
  display: block;
  color: #111111;
  padding: 5px 20px; }

.sidebar .widget li a:hover {
  background-color: #fceeee; }

.sidebar .widget_recent_comments #recentcomments {
  padding-left: 20px; }

.sidebar .widget_recent_comments li a {
  color: #981b1f; }

.sidebar .widget_recent_comments li a:hover {
  text-decoration: underline;
  background-color: transparent; }

.sidebar .widget li a:before,
.sidebar .widget_recent_comments > ul > li:before {
  display: inline-block;
  font-family: icons;
  content: '\e60c';
  min-width: 20px;
  color: #d6d6d6;
  margin-left: -20px;
  vertical-align: bottom; }

.sidebar .widget_recent_comments li a:before {
  display: none; }

.sidebar .widget_recent_comments > ul > li:before {
  content: '\e619'; }

.sidebar .widget_categories li a:before {
  content: '\e616'; }

.sidebar .widget_archives li a:before {
  content: '\e612'; }

.sidebar .widget li a:hover:before {
  color: #981b1f; }

.sidebar input[type="text"],
.sidebar .input_text {
  width: 100%;
  margin-bottom: 10px;
  padding: 5px; }

.sidebar input[type="submit"],
.sidebar .input_submit {
  background-color: #cc242a;
  padding: 5px 10px;
  border-radius: 5px; }

.sidebar textarea.input_text {
  line-height: 20px; }

.sidebar .searchform,
.sidebar .search_form {
  background-color: #fae1e1;
  margin-top: -10px;
  padding: 20px; }

.sidebar .searchform input[type="text"],
.sidebar .search_form input[type="text"] {
  border-color: #f3babc; }

.sidebar .box {
  background-color: #fae1e1;
  border-right: 10px solid #f3babc;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.sidebar .box input[type="submit"],
.sidebar .box .input_submit {
  background-color: #cc242a; }

/*
 * ---:[ footer ]:---
 */
#footer {
  font-size: 13px;
  line-height: 22px;
  color: #d9bfc0;
  text-align: center;
  padding: 14px 28px; }

#footer a {
  color: #d9bfc0; }

#footer a:hover {
  color: #fae1e1; }

/*
 * ---:[ email signup forms ]:---
 */
.grt .email_form_title {
  margin-top: 0; }

.grt .thesis_email_form p,
.grt .thesis_email_form input[type="text"],
.grt .thesis_email_form input[type="email"],
.grt .thesis_email_form .input_text {
  margin-bottom: 14px; }

.grt .thesis_email_form input[type="submit"],
.grt .thesis_email_form .input_submit {
  padding: 9px 14px; }

.sidebar .thesis_email_form {
  margin-bottom: 40px; }

.sidebar .email_form_title,
.sidebar .email_form_intro {
  margin-bottom: 10px; }

.sidebar .thesis_email_form input[type="submit"],
.sidebar .thesis_email_form .input_submit {
  padding: 5px 10px; }

/*
 * ---:[ custom templates ]:---
 */
.landing #header {
  padding-right: 28px;
  padding-left: 28px; }

.landing #site_title,
.landing #site_tagline,
.landing .headline_area,
.landing .thesis_email_form {
  text-align: center; }

.landing #site_title img {
  margin: 0 auto; }

.landing .columns > .content {
  float: none;
  margin: 0 auto; }

.landing .post_box:before {
  display: none; }

.landing .headline_area .post_edit {
  top: 0; }

/*
 * ---:[ contextual adjustments ]:---
 */
.columns p:last-child,
.post_content > :last-child,
.comment_text > :last-child,
.archive_intro > :last-child,
.widget > :last-child,
.textwidget > :last-child {
  margin-bottom: 0; }

/*
 * ---:[ clearfix ]:---
 */
#header:after,
#site_title:after,
.nav:after,
.columns:after,
.post_box:after,
.post_content:after,
.author_description:after,
.sidebar:after,
.query_box:after,
.prev_next:after,
.comment_text:after,
.comment_nav:after {
  display: table;
  clear: both;
  content: ''; }

/*
 * ---:[ mobile device breakpoint ]:---
 */
@media all and (min-width: 420px) {
  .columns > .sidebar > * {
    float: left;
    clear: both;
    width: 46.552%; }

  .columns > .sidebar > :nth-child(2n + 2) {
    float: right;
    clear: none; }

  .right,
  .alignright,
  img[align="right"] {
    float: right; }

  .left,
  .alignleft,
  img[align="left"] {
    float: left; }

  .grt .right,
  .grt .alignright,
  .grt .stack {
    margin-left: 28px; }

  .grt .left,
  .grt .alignleft {
    margin-right: 28px; }

  .grt blockquote {
    padding-right: 28px; }

  .grt blockquote.right,
  .grt blockquote.left {
    width: 45%;
    margin-bottom: 14px;
    padding-right: 0; }

  .headline_area .post_author ~ .twitter_profile ~ .post_date,
  .headline_area .num_comments_link {
    margin-left: 7px; }

  .headline_area .post_author ~ .twitter_profile:after,
  .archive .headline_area .post_author ~ .post_date:after {
    content: ''; }

  .grt input[type="text"],
  .grt input[type="email"],
  .grt .input_text {
    width: 50%; }

  #commentform textarea.input_text {
    width: 100%; }

  .grt .thesis_email_form input[type="text"],
  .grt .thesis_email_form input[type="email"],
  .grt .thesis_email_form .input_text {
    margin-bottom: 0; }

  .grt .thesis_email_form input[type="submit"],
  .grt .thesis_email_form .input_submit {
    margin-left: 7px;
    vertical-align: top; }

  .comment_date {
    display: inline-block; }

  .previous_comments,
  .next_comments {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .previous_comments {
    float: left; }

  .next_comments {
    float: right;
    border-top: 0; } }

/*
 * ---:[ natural layout break 1 ]:---
 */
@media all and (min-width: 636px) {
  .columns > .content,
  .columns > .sidebar {
    width: 580px; }

  .columns > .sidebar > * {
    width: 270px; }

  .menu_control {
    display: inline-block;
    position: absolute;
    right: 56px;
    bottom: 14px;
    margin: 0;
    padding-right: 14px;
    padding-left: 14px; }

  .nav {
    position: absolute;
    top: auto;
    right: 56px;
    bottom: 7px; }

  .nav:before {
    right: 28px;
    left: auto; }

  #pfied_featured_item .wp-caption-text {
    position: absolute;
    bottom: 28px; }

  .prev_next .previous_post,
  .prev_next .next_post,
  .prev_next .previous_posts,
  .prev_next .next_posts {
    width: 50%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }

  .prev_next .next_posts,
  .prev_next .next_post,
  .next_comments {
    float: right; }

  .prev_next .next_post,
  .prev_next .next_posts {
    border-bottom: 0; } }

/*
 * ---:[ natural layout break 2 ]:---
 */
@media all and (min-width: 692px) {
  #header,
  .columns,
  #footer {
    padding-right: 56px;
    padding-left: 56px; }

  .landing_full .columns > .content,
  .full_page .columns > .content {
    width: 100%; }

  #pfied_featured_item .wp-caption-text {
    padding-left: 56px; }

  .post_box:before,
  .comment:before {
    position: absolute;
    left: -56px;
    width: 42px;
    font-family: icons;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    color: white; }

  .post_box:before {
    content: '\e60c';
    background-color: #981b1f; }

  .template-front .post_box:before {
    content: '\e614'; }

  .template-page .post_box:before {
    content: '\e61a'; }

  .template-author .archive_intro:before {
    content: '\e60e'; }

  .template-category .archive_intro:before {
    content: '\e616'; }

  .template-tag .archive_intro:before {
    content: '\e613'; }

  .template-month .archive_intro:before,
  .template-day .archive_intro:before,
  .template-year .archive_intro:before {
    content: '\e612'; }

  .template-search .archive_intro:before {
    content: '\e617'; }

  .template-fourohfour .post_box:before {
    content: '\e618'; }

  .grt .note,
  .grt .alert,
  .grt .box,
  .grt .thesis_email_form,
  #commentform {
    margin-left: -42px;
    border-left-width: 14px;
    padding-left: 28px; }

  .headline_area .avatar {
    display: block;
    position: absolute;
    top: 0;
    left: -56px;
    width: 42px;
    height: 42px; }

  .headline_area .post_edit {
    top: 42px;
    right: auto;
    left: -56px; }

  .comment:before {
    top: -7px;
    content: '\e619';
    background-color: #aeaeae; }

  .comment.bypostauthor:before {
    background-color: #981b1f; }

  .comment span.avatar {
    display: block;
    position: absolute;
    top: -7px;
    left: -56px; }

  .comment_edit {
    top: 35px;
    right: auto;
    left: -56px; }

  .comment .children {
    margin-left: 56px; } }

/*
 * ---:[ natural layout break 3 (desktop) ]:---
 */
@media all and (min-width: 1032px) {
  .container {
    width: 1032px; }

  .columns > .content {
    float: left; }

  .columns > .sidebar {
    float: right;
    width: 300px;
    border-top: 0;
    padding-top: 0; }

  .columns > .sidebar > * {
    width: auto;
    float: none; }

  .columns > .sidebar > :nth-child(2n + 2) {
    float: none;
    clear: both; }

  #header,
  .columns {
    padding-right: 20px;
    padding-left: 56px; }

  .full_page .columns,
  .landing .columns {
    padding-right: 56px; }

  .menu_control,
  .nav:before {
    display: none; }

  .nav {
    display: block;
    width: auto;
    height: auto;
    right: 20px;
    bottom: 14px; }

  .nav li {
    position: relative; }

  .nav > li {
    float: left;
    background-color: transparent; }

  .nav > li > .sub-menu:before {
    display: block;
    top: 0;
    right: 28px;
    left: auto; }

  .nav .sub-menu {
    display: none;
    position: absolute;
    right: 0;
    text-align: right;
    padding-top: 7px;
    padding-left: 0; }

  .nav .sub-menu li {
    width: 204px;
    background-color: #711417; }

  .nav .sub-menu .sub-menu {
    top: 0;
    left: 204px;
    text-align: left;
    padding-top: 0; }

  .nav li:hover > .sub-menu {
    display: block; }

  .nav .current-menu-item > a {
    background-color: #711417; }

  .nav .sub-menu .current-menu-item > a {
    background-color: #981b1f; }

  .landing .grt .note,
  .landing .grt .alert,
  .landing .grt .box,
  .landing .grt .thesis_email_form {
    margin-right: -28px;
    margin-left: -42px;
    padding-left: 28px; }

  .landing_full .grt .note,
  .landing_full .grt .alert,
  .landing_full .grt .box,
  .landing_full .grt .thesis_email_form {
    margin-left: -56px;
    padding-left: 42px; }

  .grt .note,
  .grt .alert,
  .grt .box,
  .grt .thesis_email_form {
    margin-right: 0;
    margin-left: -56px;
    padding-left: 42px; }

  .landing .post_box .footnotes {
    margin-left: 0;
    padding-left: 0; }

  .post_box .author_description,
  .post_box .footnotes,
  .landing_full .post_box .footnotes,
  .archive_intro,
  .comments_intro {
    margin-left: -56px;
    padding-left: 56px; }

  .archive_intro:before {
    left: 0; }

  #commentform {
    margin-right: 0;
    margin-left: -56px;
    border-left-width: 42px;
    padding-left: 14px; }

  .comment_nav,
  .prev_next {
    margin-left: -56px;
    padding-left: 42px; }

  .sidebar .widget_title,
  .sidebar .widget > ul > li,
  .sidebar .box,
  .sidebar .searchform,
  .sidebar .search_form {
    margin-right: -20px;
    margin-left: -20px; }

  .sidebar .widget_recent_comments > ul > li {
    margin-right: 0; } }

/*
 * ---:[ custom CSS ]:---
 */
.NewWindowTT {
  font-weight: bold;
  font-style: italic;
  cursor: pointer; }

.NewWindowTT:hover {
  text-decoration: underline;
  color: #981b1f; }

#ReCappyT {
  width: 350px;
  display: block;
  margin: 0 auto; }

#field_1_1 .gfield_label {
  display: none; }

#input_1_5_5,
#input_1_5_3,
#input_1_5_1 {
  text-align: center;
  line-height: 150%; }

#input_1_5_3 {
  max-width: 80px !important; }

#input_1_5 {
  min-width: 220px;
  max-width: 300px;
  display: block;
  margin: 60px auto;
  text-align: center;
  background: #f5f5f7;
  padding: 10px;
  -webkit-box-shadow: 0px 0px 61px 6px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 0px 61px 6px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 61px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #dbdbdb;
  border-radius: 6px; }

.gform_card_icon,
div.gform_card_icon {
  float: none !important;
  display: inline-block !important; }

.ginput_complex,
.ginput_cardinfo_left,
.ginput_cardinfo_right,
gform_card_icon {
  float: none !important; }


.InputEmailStyle input {
  line-height: 30px; }

.SubParaArea {
  font-style: italic;
  font-size: 14px;
  line-height: 18px; }

#NumberClicks {
  font-weight: bold; }

.slider-display {
  background: #981b1f !important;
  border: 1px solid #750f10 !important;
  box-shadow: inset 0 1px 1px #c93638, 0 3px 6px -5px #750f10 !important; }

.ArrowZ {
  font-weight: bold;
  font-size: 200%;
  color: #981b1f; }

.tooltip {
  display: none; }

#SpendAmount {
  display: block;
  width: 200px;
  text-align: center;
  margin: 20px auto;
  font-size: 300%;
  font-weight: bold;
  font-family: "helvetica", sans-serif;
  color: #515151 !important; }

.ginput_total {
  font-size: 300% !important;
  line-height: 110%;
  font-weight: bold;
  font-family: "helvetica", sans-serif;
  color: #515151 !important; }

.AdvertiseForm {
  border: 1px solid #981b1f;
  padding: 20px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.03);
  width: 100%;
  max-width: 700px;
  margin: 20px auto; }

.gform_wrapper .gf_progressbar_wrapper h3.gf_progressbar_title {
  font-size: 22px !important; }

.gform_wrapper .gf_progressbar {
  box-shadow: none !important; }

#field_1_6 {
  text-align: center; }

.gform_wrapper .gfield_required {
  display: none; }

.gform_next_button,
.gform_previous_button {
  padding: 7px 14px;
  border-radius: 7px;
  font-family: inherit;
  font-size: inherit;
  line-height: 1em;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4);
  text-decoration: none;
  background-color: #cc242a;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.25);
  -moz-border-top-colors: none;
  -moz-border-right-colors: none;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  border-image: none;
  border-width: 0px 0px 3px;
  cursor: pointer;
  min-width: 200px; }

.gform_wrapper .gform_page_footer {
  text-align: center; }

#field_1_63 {
  display: block;
  margin: 0px auto !important; }

#input_1_58 .gchoice_1_58_0,
#input_1_58 .gchoice_1_58_1 {
  background: #fff7bf;
  padding: 10px !important;
  box-sizing: border-box;
  cursor: pointer; }

#label_1_58_0,
#label_1_58_1 {
  cursor: pointer; }

.InfoBoxAlignLeft {
  text-align: left !important; }

.UploadYourOwn {
  margin: 0px;
  background: white;
  padding: 10px;
  text-size: 110%; }

.NGJStaffOption,
#field_1_17,
.SelectAnAd,
.FBAInfoBox {
  display: block;
  padding: 10px;
  background: white none repeat scroll 0% 0%;
  border: 1px dashed grey;
  color: black;
  text-align: center;
  box-sizing: border-box;
  text-decoration: none;
  max-width: 700px;
  margin: 10px auto; }

.RadioButtonEdit {
  max-width: 370px; }

.RadioButtonEdit input[type="radio"] {
  display: none; }

#TableAd1 {
  cursor: pointer; }

#TableAd2 {
  cursor: pointer; }

.gform_wrapper ul.gfield_radio li input[type="radio"]:checked + label #TableAd1 {
  background: #ededed;
  font-weight: normal !important; }

.gform_wrapper ul.gfield_radio li input[type="radio"]:checked + label #TableAd2 {
  background: #ededed;
  font-weight: normal !important; }

/*
 * **********OLD STUFF*************
 */
#site_title a {
  color: black; }

#site_title {
  display: none; }

#TopHeader {
  position: relative;
  width: 100%;
  height: 400px;
  padding: 0px;
  background: rgba(0, 0, 0, 0.6);
  box-sizing: border-box; }

#LogoImage {
  display: block;
  margin: 20px auto !important;
  max-width: 300px;
  width: 100%;
  height: auto; }

.LogoByline {
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  text-align: center; }

.LogoByline::before {
  content: "";
  display: block;
  max-width: 230px;
  height: 1px;
  background-color: white;
  margin: 0px auto 20px auto; }

#menu2 {
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  background: transparent;
  color: white !important;
  padding: 2px;
  font-size: 20px;
  z-index: 400;
  text-align: right;
  height: 60px; }

.FadedLogo {
  float: left;
  max-width: 200px;
  width: 50%;
  display: none;
  opacity: 0.2;
  transition: opacity 0.3s, ease 0.5s; }

.FadedLogo:hover {
  opacity: 0.7; }

#simple-menu {
  padding: 10px;
  color: #b9b8b9;
  position: absolute;
  right: 30px;
  font-weight: bold;
  transition: color 0.3s, ease 0.5s;
  z-index: 405; }

#simple-menu:hover {
  color: white; }

.Centered1 {
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  box-sizing: border-box; }

.Centered2 {
  display: table-cell;
  vertical-align: middle; }

.CenteredContent {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 0px 50px 0px 50px;
  box-sizing: border-box; }

#FEBackgroundImage {
  background-image: url("//imissionaries.org/wp-content/uploads/2015/05/hand-holding-smartphone2.jpg"); }

#MainBackgroundImage {
  background-image: url("//imissionaries.org/wp-content/uploads/2015/04/3d-earth.jpg"); }

#GospelBoxBackImage {
  background-image: url("//imissionaries.org/wp-content/uploads/2015/05/gospel-box-background-header.jpg"); }

.BackgroundImageTop {
  height: 400px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  z-index: -5;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box; }

.post_box {
  padding-top: 20px; }

.container {
  width: 100%; }

.content {
  max-width: 980px; }

/*
 * ************Home Page*************
 */
#FBEHome {
  background: #d6d6d6;
  width: 100%;
  padding: 68px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center; }

#GBHome {
  background: #353535;
  width: 100%;
  padding: 60px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center;
  color: #d6d6d6; }

#BioPic {
  background: #1c1b1b;
  width: 100%;
  padding: 20px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center;
  color: #d6d6d6; }

.BioPic2 {
  background: url('//imissionaries.org/wp-content/uploads/2015/04/marlin-and-jared-imissionaries-pic.jpg') no-repeat;
  background-size: 100% auto;
  max-width: 800px;
  min-height: 400px;
  margin: 0 auto; }

.BlankFiller {
  width: 100%;
  height: 310px; }

.NamesLinks {
  display: inline-block;
  padding: 14px 22px 14px 22px;
  margin: 20px;
  background: rgba(255, 255, 255, 0.3);
  color: black;
  text-decoration: none !important;
  text-transform: uppercase;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.1); }

.JRname {
  margin-left: 120px;
  margin-right: 60px; }

/*
 * ************Gospel Box Page*************
 */
.GBLogoImg {
  display: inline-block;
  margin: 0px 30px 30px 30px;
  vertical-align: top; }

.GBDescription {
  display: inline-block;
  max-width: 400px;
  text-align: left;
  vertical-align: top;
  line-height: 38px;
  font-size: 21px;
  color: #3d3d3d;
  font-style: italic;
  padding-top: 16px; }

#BuyOne {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  margin: 10px;
  padding: 10px 30px 10px 30px;
  text-align: left; }

#BuildYourOwn {
  display: inline-block;
  vertical-align: top;
  max-width: 400px;
  margin: 10px;
  padding: 10px 30px 10px 30px;
  text-align: left; }

.FourOptGBImg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 90px;
  transition: transform 0.8s ease-in-out; }

/*
 * ************Facebook Evangelism Page*************
 */
.MainFBHeading {
  text-transform: uppercase;
  margin-top: 40px;
  margin-bottom: 40px;
  letter-spacing: 1px;
  font-weight: bold;
  line-height: 140%; }

.MFBHEdit {
  color: white !important;
  font-size: 34px !important;
  letter-spacing: 3px !important; }

#InitialBox {
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  box-sizing: border-box; }

.FourOptions {
  display: inline-block;
  text-align: left;
  width: 100%;
  max-width: 450px;
  margin: 20px; }

.FourOptImg {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  max-width: 160px;
  transition: transform 0.8s ease-in-out; }

/*
 * .FourOptImg:hover {transform:rotate(360deg);}
 */
.FOH2 {
  margin-bottom: 6px !important;
  margin-top: 6px !important;
  text-transform: uppercase;
  font-weight: bold; }

.FOH3 {
  margin-bottom: 6px !important;
  margin-top: 6px !important;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center; }

.FourOptText {
  display: inline-block;
  vertical-align: middle;
  max-width: 260px;
  margin: 5px;
  color: #111111 !important;
  text-decoration: none !important; }

.FourOptText:hover {
  color: #981b1f !important; }

#VideoBoxCont {
  background: black url('//imissionaries.org/wp-content/uploads/2015/05/white-down-arrow.png') no-repeat center top;
  width: 100%;
  padding: 60px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center; }

.VideoBox1 {
  display: inline-block;
  margin: 10px;
  width: 100%;
  max-width: 450px; }

.VideoBox2 {
  display: inline-block;
  margin: 10px;
  width: 100%;
  max-width: 450px; }

.VideoBoxImg {
  cursor: pointer; }

#CreateAnAd {
  background: #d6d6d6 url('//imissionaries.org/wp-content/uploads/2015/05/black-down-arrow.png') no-repeat center top;
  width: 100%;
  padding: 68px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center; }

#WhiteWGreyArrow {
  background: white url('//imissionaries.org/wp-content/uploads/2015/05/grey-down-arrow.png') no-repeat center top;
  width: 100%;
  padding: 68px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center; }

#GreBoxWWhiteArrow {
  background: #d6d6d6 url('//imissionaries.org/wp-content/uploads/2015/05/white-down-arrow.png') no-repeat center top;
  width: 100%;
  padding: 68px 20px 60px 20px;
  box-sizing: border-box;
  text-align: center; }

.GraphBackground {
  width: 100%;
  background: url('//imissionaries.org/wp-content/uploads/2015/05/graph-background.jpg') no-repeat center center;
  background-size: contain; }

.su-tabs {
  max-width: 600px;
  margin: 20px auto !important; }

.su-tabs-nav span {
  color: #981b1f !important; }

/*
 * *********************Facebook Video Page****************
 */
.VideoRow {
  padding: 20px 10px 10px;
  background: #f2f2f2; }

.VideoRowAlt {
  padding: 20px 10px 10px; }

.VideoImgThumb {
  float: left;
  margin: 0px 12px 8px 0px;
  box-shadow: 0px 0px 3px 2px rgba(36, 36, 36, 0.58); }

/*
 * ************Blog Posts Page*************
 */

#AlternateColors {
  min-height: 375px;
  box-sizing: border-box;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
  padding-top: 30px; }

#AlternateColors:nth-child(even) {
  background: #f4f4f4; }

.BlogExcerpts {
  max-width: 980px !important;
  margin: 0px auto;
  padding: 10px 14px 10px 14px;
  box-sizing: border-box;
  text-align: center !important; }


.wp-post-image {
  float: left;
  margin: 0px 10px 10px 0px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
  border: 1px solid #d7d7d7;
  border-radius: 2px; }

.BlogPageH1 {
  color: #686868;
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left; }

.BlogPageExcerpt {
  text-align: left; }

.excerpt_read_more {
  display: block;
  max-width: 200px;
  text-align: center;
  padding: 8px 20px;
  border: 3px solid #981b1f;
  color: #981b1f;
  border-radius: 5px;
  text-decoration: none !important;
  cursor: pointer;
  font-weight: bold;
  margin: 40px auto 30px auto;
  transition: background 0.2s; }

.excerpt_read_more:hover {
  background: #981b1f;
  color: white; }

.num_comments {
  margin-left: 10px !important; }

/*
 * *************Footer***********
 */
#footer {
  text-align: center;
  background: black;
  padding: 0px;
  color: white;
  font-size: 17px; }

#footer a {
  color: white !important; }

#footer a:hover {
  color: #981b1f !important; }

#FooterContent {
  background: #353535;
  width: 100%;
  padding: 13px;
  box-sizing: border-box; }

.FooterBoxes {
  display: inline-block;
  padding: 20px;
  box-sizing: border-box;
  vertical-align: top; }

.FooterBoxes h2 {
  text-align: center;
  margin-bottom: 13px; }

.box1 {
  min-width: 230px; }

.box1 h3 {
  padding: 10px !important; }

.box1 a {
  padding: 10px !important; }

.box2 {
  border-left: 1px solid white;
  border-right: 1px solid white;
  width: 100%;
  max-width: 420px;
  padding: 20px 30px 0px 30px;
  margin-bottom: 20px;
  position: relative; }

.box3 {
  min-width: 230px;
  text-align: center; }

#enhancedtextwidget-2 {
  padding: 20px;
  box-sizing: border-box; }

.SocialIcons {
  margin: 10px;
  display: inline-block;
  opacity: 0.8;
  transition: opacity 0.3s, ease 0.5s; }

.SocialIcons:hover {
  opacity: 1; }

::-moz-selection {
  background-color: #981b1f;
  color: white; }

::selection {
  background-color: #981b1f;
  color: white; }

/*
 * *************Signup email form***********
 */
.SpinHide {
  visibility: hidden; }

#spinner2 {
  width: 32px;
  height: 32px;
  background-image: url("//imissionaries.org/subscribe/ajax-bars.gif");
  position: absolute;
  top: 15px;
  right: 45%; }

.StatusHide {
  visibility: hidden; }

.FormTextInput2 {
  box-sizing: border-box !important;
  width: 100%;
  border: none !important;
  padding: 8px 10px;
  border-radius: 0px;
  margin: 10px auto;
  background-color: rgba(255, 255, 255, 0.5) !important;
  line-height: 140% !important; }

#MainSignupSidebarForm {
  width: 100%;
  margin: 10px auto 0px auto;
  text-align: center;
  padding: 10px;
  background: #981b1f;
  border: none;
  border-radius: 16px;
  -webkit-box-shadow: 0px 0px 8px 0px transparent;
  -moz-box-shadow: 0px 0px 8px 0px transparent;
  box-shadow: 0px 0px 8px 0px transparent;
  transition: box-shadow 0.5s; }

#MainSignupSidebarForm:hover {
  -webkit-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7);
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.7); }

@media screen and (max-width: 960px) {
  .box1 {
    display: none; }

  .box2 {
    border-left: none;
    border-right: none; } }

@media screen and (max-width: 650px) {
  .wp-post-image {
    float: none !important;
    margin: 10px auto !important; }

  .ginput_left {
    display: block !important;
    width: 100% !important; }

  .ginput_right {
    display: block !important;
    width: 100% !important;
    margin-left: 0px !important; } }

/*
 * **********************Contact Form Style**********************
 */
.wpcf7-form {
  max-width: 650px;
  margin: 20px auto; }

.wpcf7-text,
.wpcf7-textarea {
  width: 100% !important;
  padding: 7px !important;
  line-height: 140% !important;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.08) inset !important;
  box-sizing: border-box;
  border: 1px solid #d6d6d6; }

.wpcf7-response-output {
  border: 2px solid #cc242a !important; }

/*
 * ******************SIDR**************************************
 */
#sidr {
  display: none; }

.SidrCloseButton {
  display: block;
  padding: 14px 30px 14px 12px;
  text-align: right !important;
  font-family: sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white !important;
  text-shadow: 0px 0px 6px rgba(63, 2, 2, 0.48);
  transition: opacity 0.4s linear;
  opacity: 0.5; }

.SidrCloseButton:hover {
  opacity: 1; }

/*
 * *********************FB Ads Resource Table Style**************************
 */
.su-accordion table,
.PORQUE {
  border-collapse: collapse;
  border-bottom: 1px solid #ededed;
  border-right: 1px solid #ededed;
  border-left: none;
  border-top: none;
  width: 250px;
  margin: 0 auto;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
  font-size: 12px;
  line-height: 13px; }

.su-accordion td,
.PORQUE td,
th {
  border: none;
  text-align: left; }

.su-accordion td:nth-child(1) {
  width: 108px;
  height: 80px; }

.su-accordion td:nth-child(2) {
  background: none;
  width: 140px;
  padding-top: 3px;
  padding-right: 5px; }

.su-accordion th,
.PORQUE th {
  color: #3b59ba;
  padding-bottom: 8px;
  padding-top: 8px; }

.su-accordion td,
.PORQUE td {
  vertical-align: top; }

.wrap {
  width: 265px;
  margin: 0 auto;
  height: auto;
  border: none;
  padding: 10px; }

/*
 * *********************SIDR SIDE MENU**************************
 */
.sidr {
  display: none;
  position: absolute;
  position: fixed;
  top: 0;
  height: 100%;
  z-index: 999999;
  width: 260px;
  overflow-x: none;
  overflow-y: auto;
  font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
  font-size: 15px;
  background: #333333;
  color: white;
  -webkit-box-shadow: inset 0 0 5px 5px #222222;
  -moz-box-shadow: inset 0 0 5px 5px #222222;
  box-shadow: inset 0 0 5px 5px #222222; }

.sidr .sidr-inner {
  padding: 0 0 15px; }

.sidr .sidr-inner>p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr.right {
  left: auto;
  right: -260px; }

.sidr.left {
  left: -260px;
  right: auto; }

.sidr h1,
.sidr h2,
.sidr h3,
.sidr h4,
.sidr h5,
.sidr h6 {
  font-size: 11px;
  font-weight: normal;
  padding: 0 15px;
  margin: 0 0 5px;
  color: white;
  line-height: 24px;
  background-image: linear-gradient(#4d4d4d, #1a1a1a);
  -webkit-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 5px 3px rgba(0, 0, 0, 0.2); }



.sidr p {
  font-size: 13px;
  margin: 0 0 12px; }

.sidr p a {
  color: rgba(255, 255, 255, 0.9); }

.sidr>p {
  margin-left: 15px;
  margin-right: 15px; }

.sidr ul {
  display: block;
  margin: 0 0 15px;
  padding: 0;
  border-top: 1px solid #1a1a1a;
  border-bottom: 1px solid #4d4d4d; }

.sidr ul li {
  display: block;
  margin: 0;
  line-height: 48px;
  border-top: 1px solid #4d4d4d;
  border-bottom: 1px solid #1a1a1a; }

.sidr ul li:hover,
.sidr ul li.active,
.sidr ul li.sidr-class-active {
  border-top: none;
  line-height: 49px; }

.sidr ul li:hover>a,
.sidr ul li:hover>span,
.sidr ul li.active>a,
.sidr ul li.active>span,
.sidr ul li.sidr-class-active>a,
.sidr ul li.sidr-class-active>span {
  -webkit-box-shadow: inset 0 0 15px 3px #222222;
  -moz-box-shadow: inset 0 0 15px 3px #222222;
  box-shadow: inset 0 0 15px 3px #222222; }

.sidr ul li a,
.sidr ul li span {
  padding: 0 15px;
  display: block;
  text-decoration: none;
  color: white; }

.sidr ul li ul {
  border-bottom: none;
  margin: 0; }

.sidr ul li ul li {
  line-height: 40px;
  font-size: 13px; }

.sidr ul li ul li:last-child {
  border-bottom: none; }

.sidr ul li ul li:hover,
.sidr ul li ul li.active,
.sidr ul li ul li.sidr-class-active {
  border-top: none;
  line-height: 41px; }

.sidr ul li ul li:hover>a,
.sidr ul li ul li:hover>span,
.sidr ul li ul li.active>a,
.sidr ul li ul li.active>span,
.sidr ul li ul li.sidr-class-active>a,
.sidr ul li ul li.sidr-class-active>span {
  -webkit-box-shadow: inset 0 0 15px 3px #222222;
  -moz-box-shadow: inset 0 0 15px 3px #222222;
  box-shadow: inset 0 0 15px 3px #222222; }

.sidr ul li ul li a,
.sidr ul li ul li span {
  color: rgba(255, 255, 255, 0.8);
  padding-left: 30px; }

.sidr form {
  margin: 0 15px; }

.sidr label {
  font-size: 13px; }

.sidr input[type="text"],
.sidr input[type="password"],
.sidr input[type="date"],
.sidr input[type="datetime"],
.sidr input[type="email"],
.sidr input[type="number"],
.sidr input[type="search"],
.sidr input[type="tel"],
.sidr input[type="time"],
.sidr input[type="url"],
.sidr textarea,
.sidr select {
  width: 100%;
  font-size: 13px;
  padding: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 0 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  border-radius: 2px;
  border: none;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(255, 255, 255, 0.6);
  display: block;
  clear: both; }

.sidr input[type=checkbox] {
  width: auto;
  display: inline;
  clear: none; }

.sidr input[type=button],
.sidr input[type=submit] {
  color: #333333;
  background: white; }

.sidr input[type=button]:hover,
.sidr input[type=submit]:hover {
  background: rgba(255, 255, 255, 0.9); }

@media all and (max-width: 790px) {
  .JRname {
    margin-left: 20px;
    margin-right: 20px; } }

@media all and (max-width: 600px) {
  .BlankFiller {
    height: 210px; } }

@media all and (max-width: 510px) {
  .GBDescription {
    text-align: center; }

  .FourOptImg {
    display: block;
    margin: 10px auto; }

  .FourOptions {
    text-align: center; }

  .BlankFiller {
    height: 170px; }

  .VideoImgThumb {
    float: none;
    margin: 10px auto; } }

@media all and (max-width: 350px) {
  .BlankFiller {
    height: 100px; } }